[Unit]
Description=Gotify Push Notification client for Desktop using dbus
After=network.target syslog.target

[Service]
EnvironmentFile=/path/to/gotify/.env
ExecStart=/path/to/node /path/to/gotify/index.js
KillMode=process
Type=simple
User=my_user
StandardOutput=journal

[Install]
WantedBy=multi-user.target
Also=dbus.service
Alias=gotify-client.service