[Desktop Entry]
Type=Application
Path=<path-to-project>
Exec=/bin/bash <autostart_launch_script>
Hidden=false
NoDisplay=true
Name=gotify-kde-indicator
Comment[fr_FR]=gotify-kde-indicator official shortcut
Comment=gotify-kde-indicator official shortcut